{{!< default}}

<header class="cta">
    <a href="/#readme" class="button">Install Ouija</a>
</header>

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">

    <article class="{{post_class}}">

        {{! Each post has the blog logo at the top, with a link back to the home page }}
        <header class="post-header">
            <a class="blog-logo" href="{{@blog.url}}">

                <img src="{{asset "img/logo-small.png"}}" alt="{{@blog.title}}">

            </a>
        </header>

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

            <span class="post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> {{tags prefix="on " separator=" | "}}</span>

            <h1 class="post-title">{{{title}}}</h1>

            <section class="post-content">
                {{content}}
            </section>

        {{/post}}

    </article>

</main>
